*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 200vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
}

header{
    background-color: green;
    flex: 1;
}

#contain{
    background-color: blue;
    flex: 10;
    display: flex;
}

footer{
    background-color: yellow;
    flex: 2;
    display: flex;
}

#aside{
    background-color: black;
    flex: 1;
}
.div{
    background-color: yellow;
    flex: 10;
}


aside{
    background-color: black;
    flex: 1;
}
main{
    background-color: white;
    flex: 10;
}